opencv-python

dlib

scipy

customtkinter

pyttsx3

SpeechRecognition

pyautogui

pygame

geopy

openrouteservice

wolframalpha

pyjokes

pywhatkit

wikipedia

tkintermapview

obd

CTkMessagebox

CTkToolTip

PySimpleGUI

pyserial

pillow

numpy

scikit-learn

joblib

requests